{% extends '::base.html.twig' %}

{% block body %}
    <h1>Event list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Artist</th>
                <th>Name</th>
                <th>Date</th>
                <th>Hour</th>
                <th>Price</th>
                <th>Link</th>
                <th>Location</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('event_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.artist }}</td>
                <td>{{ entity.name }}</td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.hour|date('H:i:s') }}</td>
                <td>{{ entity.price }}</td>
                <td><a href="{{ entity.link }}">{{ entity.link }}</a></td>
                <td>{{ entity.location }}</td>
                <td>{{ entity.city }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>{{ form(search_form) }}</div>

    {% endblock %}
